<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932305953076-eddhh9mcgemgoj0d22do5834rfog982q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932305953076-eddhh9mcgemgoj0d22do5834rfog982q</string>
	<key>API_KEY</key>
	<string>AIzaSyDVXiopq5ItNyL3QMF-TyhTjS5kALtoSSI</string>
	<key>GCM_SENDER_ID</key>
	<string>932305953076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eduglobal.physical</string>
	<key>PROJECT_ID</key>
	<string>physicalapp-abc76</string>
	<key>STORAGE_BUCKET</key>
	<string>physicalapp-abc76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932305953076:ios:4b968eede244b375650561</string>
</dict>
</plist>